@import 'tabela';
@import 'resultados';

h1 {
  text-align: center;
  margin: 20px 0 40px;
  text-transform: uppercase;
}

.buttongroup {
  display: flex;
  justify-content: center;
  button {
    margin: 0 15px;
    text-transform: uppercase;
  }
}